/* Common CSS */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .page .image{
    width: 20%;
    height: 400px;
    position: relative;
 }

 .image .hovered {
    opacity: 0;
 }

 .page .image img{
    position: absolute;
    top: 0;
    left: 0;
 }

 .page .text{
    width: 30%;
    height: 400px;
    padding-left: 50px;
 }

 .text input{
    text-align: center;
    width: 100px;
    height: 30px;
 }

 .quantity{
    margin-top: 20px;
    color: grey;
 }

 .quantity button {
    width: 30px;
    height: 30px;
 }

 .quantity .increment:hover{
    background-color: greenyellow;
 }

 .quantity .decrement:hover{
    background-color: red;
 }

 .slider{
    margin-top: 20px;
 }

 .slider input[type=range] {
    width: 150px;
 }
